*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

img{
 width:100%;   
 margin-bottom: 40px;
 border-radius: 5px;
}

p{
    margin-bottom: 40px;
}

  
nav{
    overflow: hidden;
    background-color: #333;
}
  
nav a{
    float: left;
    text-align: center;
    color: #f2f2f2;
    padding-left: 122px;
    padding-right: 122px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover{
    background-color: #ddd;
    color: black;
}
  
  nav a.active {
    background-color: #04AA6D;
    color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}